
h1{
  font-family: 'Comic sans MS', cursive;
  font-weight: lighter;
  color: #6f5a3e;
  font-size: 22px;
}

hr{
  color: #cbae87;
  width: 80%;
}

.trait{
  border-bottom: 1px solid #6f5a3e;
}

section{
  max-width: 350px;
  width: 100%;
  padding-top: 15px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #6f5a3e;
  background-color: #F6F6F6;
  box-shadow: 1px 1px 5px grey;
}

section img{
  width: 25%;
}

#question{
  width: 70%;
  margin-top: 15px;
}

#contenu{
  width: 70%;
  min-height: 250px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #cbae87;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: inset 1px 1px 5px grey;
}

#contenu form input{
  margin-top: 10px;
  text-decoration: none;
}

.button_form{

  width: 60%;
  font-family: 'Comic sans MS', cursive;
  font-size: 12px;
  margin-top: 10px;
}


footer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #6f5a3e;
}

footer p{
  padding-bottom: 5px;
  font-family: 'Comic sans MS', cursive;
  /* font-weight: lighter; */
  color: #6f5a3e;
  font-size: 10px;
}
